<p>⠀⠀   ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣠⠤⠤⠤⠤⠤⠤⠤⠤⣄⣀⡀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡨⠴⢒⣉⣭⣴⣶⣶⣾⣿⣿⣿⣿⣷⣶⣶⣦⣭⣍⡓⠦⢅⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⠴⢚⣩⣴⣿⣿⣿⣿⠿⢛⠉⠭⠁⡠⢄⠈⠭⠍⡛⠿⣿⣿⣿⣿⣶⣌⡓⠦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⣠⠖⣡⣶⣿⣿⣿⣿⡿⠋⠔⠈⠀⢀⠄⡪⠤⠤⢕⠠⡀⠀⠁⠢⢙⢿⣿⣿⣿⣿⣶⣌⠳⣄⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⢠⠞⣡⣾⣿⣯⣠⣿⡿⠋⣊⠀⠄⡒⠨⢐⠓⠲⢂⠀⢀⠒⢆⠅⢒⠠⠀⣑⡙⢿⣿⣄⣽⣿⣷⣌⠳⡄⠀⠀⠀⠀⠀⠀
  ⠀⠀⢀⠈⡴⢣⣾⣿⡟⢉⣿⣿⡿⠡⢹⠀⠈⠉⠀⠉⢢⠀⢠⠁⠀⠈⠑⠀⠡⠀⠉⠁⠀⡍⢎⢻⣿⣿⠉⣹⣿⣷⡌⢦⠁⠀⠀⠀⠀
  ⠀⢀⢂⡞⣰⣿⡿⣿⢻⣿⣿⡿⢠⠁⢸⢰⠀⠀⠀⠀⢸⠀⠀⠀⠀⠀⢠⠀⠀⠂⠀⠀⡆⡇⠈⡌⢿⣿⣿⡟⣿⢿⣿⣆⠳⡐⡀⠀⠀
  ⠀⢂⡞⣰⣿⣿⣟⣀⣬⣿⣿⡇⡀⠀⠀⡌⡀⠀⠀⠀⢜⠀⠀⠄⠒⠄⠀⠆⢠⠁⠀⢀⢡⠀⠀⢀⢸⣿⣿⣭⣀⣻⣿⣿⣧⢱⡐⡀⠀
  ⠀⡼⢰⣿⣿⣿⡿⢿⣿⣿⣿⡇⡇⠀⠀⢠⢁⠀⠀⠀⢸⠀⠀⠢⡃⠅⢊⠀⠁⠀⠀⡈⡌⠀⠀⢸⢸⣿⣿⣿⡿⢿⣿⣿⣿⡆⢣⠠⠀
  ⢰⢃⣿⣿⣿⡦⠀⢈⣽⣿⣿⣇⢀⠀⠀⠀⢂⢂⠀⠀⢸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠐⠀⠀⠀⡀⢼⣿⣿⣯⡁⠀⢴⣿⣿⣿⡘⡆⠄
  ⡾⢸⣿⣿⣿⣷⣿⣾⣿⣿⣿⣿⡈⡄⠀⠀⠀⢂⢂⢀⡸⠀⢀⣀⣀⢀⣀⣀⣀⡐⡠⠁⠀⠀⢠⢡⣿⣿⣿⣿⣷⣿⣾⣿⣿⣿⡇⢳⠀
  ⡇⣼⡿⠿⠟⠛⠛⠋⠉⠉⡁⠘⣿⡌⢄⠀⠀⠀⠡⡁⡴⠦⠘⡤⠄⠠⠤⢤⠌⠄⠀⠀⠀⠠⢣⣿⠋⠉⡉⣿⡿⠿⠛⠻⠿⣿⣷⢸⠀
  ⡇⣿⡇⣀⣀⣤⠀⠰⡷⠟⠃⠀⣸⣿⣆⠢⡀⠀⠀⠈⢌⠂⡈⠚⠁⢂⠐⡡⠀⠀⠀⢀⠔⣰⣿⣧⡀⠈⠛⠋⠀⣠⣤⡄⠀⢸⣿⢸⠀
  ⡇⢿⣿⣿⣿⣿⣄⣀⣀⣠⠴⠞⠛⠉⠙⣷⣦⣐⠠⢀⠀⠑⠌⡢⠔⠡⠊⠀⡀⠄⣊⣴⣾⡟⠈⠉⠛⠲⠶⣶⣾⡿⠉⠁⠀⣸⡿⢸⠀
  ⢷⢸⣿⣿⠿⠟⠛⠉⠁⢀⣀⠤⠂⢠⣾⠟⠉⢻⣿⣶⣦⣭⣤⣌⣥⣤⣭⣴⣶⠿⠛⠉⠙⠻⣦⡀⠐⢤⣀⡀⠈⠉⠒⠲⠶⣿⡇⡼⠀
  ⠸⡌⣿⡇⠀⢀⣄⠀⠸⡿⠃⠀⣴⡿⠃⠀⣴⡿⠃⠀⣿⡟⠉⢻⠉⠉⠉⡇⠘⡆⠀⢺⣦⡀⠈⠳⣄⠀⠙⠟⠀⢠⣄⡀⢰⣿⢡⠇⠀
  ⠀⢣⠸⣿⣿⣿⣿⡆⠀⠀⢠⡾⠋⠀⣠⣾⡿⠁⠀⠀⡿⠁⠀⢿⠀⢸⣿⣷⠀⠘⣄⠀⠹⣷⡄⠀⠘⣧⡀⠀⠀⢿⣿⣿⣿⠏⡼⠐⠀
  ⠀⠌⢇⢻⣿⡿⠋⠀⠀⡴⠋⠀⢀⣴⣿⡿⠁⠀⠀⢸⠃⠀⠀⡞⠀⠸⣿⠿⡇⠀⠘⣆⠀⠉⠀⠀⠘⠻⢿⣆⠀⠀⢙⣿⡟⡸⠁⠁⠀
  ⠀⠈⠈⢦⠹⣿⣄⢠⠞⠁⠀⣠⣾⣿⡟⠁⠀⡄⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⢹⡀⠀⠹⡄⠀⠈⢷⣄⡀⠀⠉⠳⣤⣾⠏⡴⠁⠀⠀⠀
  ⠀⠀⠈⢀⠣⡘⢿⣧⡀⠀⠀⠻⣿⡟⠀⠀⣰⡇⠀⠀⡜⠀⠀⡇⠀⠀⣿⣿⣿⣧⠀⠀⢹⡄⠀⠀⠹⣿⣦⣀⣴⡿⢃⠜⠁⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠙⢦⡙⢿⣦⡀⢀⡜⠀⠀⢠⣿⡇⢀⣾⡇⠀⢰⡇⠀⠀⢸⣿⣿⣿⡄⠀⠀⢻⡄⠀⠀⢘⣿⡿⢋⡴⠋⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠙⠦⡙⠿⣿⣄⡀⢠⣿⣿⣧⣾⣿⠀⠀⢨⡇⠀⠀⠸⠿⠛⠛⢷⠀⠀⠀⢿⣤⣶⠿⢋⡴⠋⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠲⢬⡙⠿⣿⣿⣿⣿⣿⡟⠀⠀⢸⡇⠀⠀⠀⠀⠀⢀⣸⣧⣴⣾⠿⢋⡡⠖⡁⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠑⠢⢬⣙⡛⠻⠿⠷⢶⣾⣷⣶⣶⡶⠾⠿⠟⢛⣋⡥⠔⠊⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠂⠉⠉⠙⠒⠒⠒⠐⠂⠒⠒⠒⡋⠉⠉⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</p>⠀⠀
<app-interpolation></app-interpolation>
<app-property-binding></app-property-binding>
<app-event-binding></app-event-binding>

