  <app-for></app-for>
<br>
<br>
<app-tarefas></app-tarefas>
<br>
<br>

<!-- <app-ngcontent>
  <div class="titulo">
    <h1>Titulo do painel</h1>
  </div>

  <div class="corpo">
    <ul>1. Conteudo passado bb</ul>
  </div>

  <div class="corpo">
    <li>2. Conteudo passado bb</li>

  </div>
</app-ngcontent>

<br>
<br> -->
<app-card>
  <div class="titulo">
    <h1>Titulo</h1>
  </div>
  <div class="corpo">
    <p>Conteudo CONTEUDOConteudo CONTEUDOConteudo CONTEUDOConteudo CONTEUDOConteudo CONTEUDOConteudo CONTEUDOConteudo CONTEUDO</p>
  </div>
</app-card>

<app-card>
  <div class="titulo">
    <h1>Titulo</h1>
  </div>
  <div class="corpo">
    <p>Conteudo CONTEUDOConteudo CONTEUDOConteudo CONTEUDOConteudo CONTEUDOConteudo CONTEUDOConteudo CONTEUDOConteudo CONTEUDO</p>
  </div>
</app-card>

<app-card>
  <div class="titulo">
    <h1>Titulo</h1>
  </div>
  <div class="corpo">
    <p>Conteudo CONTEUDOConteudo CONTEUDOConteudo CONTEUDOConteudo CONTEUDOConteudo CONTEUDOConteudo CONTEUDOConteudo CONTEUDO</p>
  </div>
</app-card>
