.task-list-container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

button {
  margin-right: 5px;
  padding: 6px 12px;
  cursor: pointer;
}

span.pending {
  color: orange;
  font-weight: bold;
}
span.in_progress {
  color: dodgerblue;
  font-weight: bold;
}
span.completed {
  color: green;
  font-weight: bold;
}